@import "./layout/layout";

.welcome-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    opacity: 0;
    &.firstLoad {
        opacity: 1;
    }
    &.loading {
        opacity: 0.25;
    }
    &.goOffCanvas {
        animation: hideWelcomeToTop 2s;
        top: -50%;
    }
    @keyframes hideWelcomeToTop {
        from {
            top: 50%;
        }
        to {
            top: -50%;
        }
    }    
    &.hide {
        display: none;
        transition: display 400ms ease;
    }

    h1 {
        margin-bottom: 100px;
        flex-basis: 100%;
        text-align: center;
        @include font-style(35);
    }

    button {
        flex-basis: 100%;
        &#go-vue {
            margin-bottom: 20px;
        }    
        @include breakpoint('mob-lg', 'min') {
            flex-basis: 45%;
            &#go-vue {
                margin-bottom: unset;
            }    
        }
    }
}

.loader {
    width: 100px;
    height: 100px;
    fill: color('black', 'darker');
}
