@import "./layout/layout";

#back-to-selection {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px;
    background: color('blue');
    color: color('white');
    @include font-style(14);
    svg {
        fill: color('white');
        margin-right: 5px;
    }
    @include breakpoint('mob-lg', 'min') {
        left: 25px;
        top: 25px;    
    }
}

.home__vue, .home__react {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h1 {
        margin: 25px 0;
        flex-basis: 100%;
        text-align: center;
    }
    &--router-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        @include breakpoint('mob-lg', 'min') {
            flex-wrap: nowrap;
        }
        a.button-primary {
            min-width: 150px;
            padding: 15px 0;
            flex-basis: 100%;
            &:nth-child(2) {
                margin: 15px 0;
            }    
            @include breakpoint('mob-lg', 'min') {
                flex-basis: unset;
                &:nth-child(2) {
                    margin: 0 15px;
                }    
            }
            &:hover {
                background: color('white', 'darker');
            }        
        }
    }
}