@import "./base/variables";
@import "./base/grid_system";
@import "./base/functions";
@import "./base/mixins";
@import "./base/fonts";

* {
    outline: none !important;
}

body {
    font-family: fonts("type"), sans-serif;
    font-size: fonts("size");
    font-weight: fonts("weight");
    line-height: fonts("line-height");
    background: color("white");
    color: color("black");
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    @include make-container();
}

.offcanvas {
    background: color("white");
    color: color("black");
    &.vue,
    &.react {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(100%);
        &.reveal {
            animation: revealOffcanvasFromBottom 2s;
            transform: translateY(0);
            z-index: 10;
        }
        &.makeAbsolute {
            position: absolute;
            // top: unset;
            // left: unset;
            // right: unset;
            // bottom: unset;          
            // z-index: unset;  
        }
        @keyframes revealOffcanvasFromBottom {
            from {
                transform: translateY(100%);
            }
            to {
                transform: translateY(0);
            }
        }        
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    z-index: -1;
    &.reveal {
        opacity: 1;
        transition: opacity 400ms ease;
        z-index: 0;
    }
    &.goOffCanvas {
        animation: hideOverlayToTop 2s;
        transform: translateY(-100%);
        @keyframes hideOverlayToTop {
            from {
                transform: translateY(0);
            }
            to {
                transform: translateY(-100%);
            }
        }        
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: 2em;
    font-weight: unset;
}

a {
    text-decoration: none;
    outline: 0 none;
    border: none;
    color: unset;
    background: unset;
    &:hover {
        text-decoration: none;
        color: unset;
        background: unset;
    }
}

button {
    color: inherit;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: unset;
    margin: unset;
    padding: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    max-width: 100%;
    &:hover {
        @include reduce-brightness(0.95);
    }
}
