@import "../layout/layout";

.welcome-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    &.hide {
        display: none;
        transition: display 400ms ease;
    }

    h1 {
        margin-bottom: 100px;
        flex-basis: 100%;
        text-align: center;
        @include font-style(35);
    }

    button {
        flex-basis: 45%;
        background: color('white', 'darker');
        @include font-style(16);
        border-radius: 5px;
        padding: 30px 0;
        max-width: 300px;
        box-shadow: 1.5px 1.5px 5px -1.5px color('black');
        @include breakpoint('mob-lg', 'max') {
            flex-basis: 100%;
            &:nth-child(2) {
                margin-bottom: 20px;
            }    
        }
    }

}