@import "../layout/layout";

#vue, #react {
    display: none;
}

.welcome-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h1 {
        margin-bottom: 100px;
        flex-basis: 100%;
        text-align: center;
        @include font-style(35);
    }

    button {
        flex-basis: 45%;
        background: color('white', 'darker');
        border-radius: 5px;
        padding: 20px 30px;
    }
}