// https://web.dev/variable-fonts/
@font-face {
    font-family: "Red Hat Display";
    font-display: swap;
    src: url("../../../../assets/fonts/RedHatDisplay-VariableFont_wght.ttf") format("woff2-variations");
    font-weight: 300 900;
    font-stretch: 100%;
}